<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div class="flex h-screen">
    <!-- Sidebar -->
    <aside  style="width: 25%;" class="w-1/4 bg-black text-white">
        <th:block th:replace="fragments/staff-sidebar :: div"></th:block>
    </aside>

    <!-- Main Content -->
    <div style="width: 75%;" class="flex-1 flex flex-col ">
        <header class="w-full bg-white">
            <th:block th:replace="fragments/staff-header :: div"></th:block>
        </header>
        <main  class="flex-1 p-4 mt-24">
            <!-- Dashboard content -->
            <h1 class="text-2xl font-bold">Welcome to the Staff Dashboard</h1>
            <p>This is the dashboard content.</p>
        </main>
    </div>
</div>
</body>
</html>
