<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link href="/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div class="flex h-screen">
  <!-- Sidebar -->
  <aside  style="width: 25%;" class="w-1/4 bg-black text-white">
    <th:block th:replace="fragments/admin-sidebar :: div"></th:block>
  </aside>

  <!-- Main Content -->
  <div style="width: 75%;" class="flex-1 flex flex-col ">
    <header class="w-full bg-white">
      <th:block th:replace="fragments/admin-header :: div"></th:block>
    </header>
    <div style="">
      <div style="display: grid; justify-content: center; flex: 1;">
        <div style="display: flex; flex-wrap: wrap; flex: 1; margin-top: 8rem;">
          <!-- boxes -->
          <div style="flex: 1; width: 100%; padding: 1rem;">
            <h1 style="font-size: 40px; font-family: 'Anton', sans-serif; color: #primaryColor; margin-top: 1rem;">
              Welcome <span style="color: black;"></span>
            </h1>
            <div>
              <h3 style="font-size: 1.125rem; color: #4A4A4A; font-family: 'Boogaloo', cursive;">
               Admin Dashboard
              </h3>
            </div>

            <div style="margin-top: 2rem; display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(2, 1fr); grid-template-columns: repeat(4, 1fr); gap: 1rem; row-gap: 4rem; height: 350px; font-family: 'Boogaloo', cursive;">


              <div style="display: grid; background-color: white; padding: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 1rem; width: 195px; height: 100px; position: relative;">
                <h2 style="padding-bottom: 0.25rem; font-size: 0.875rem; font-weight: 600; color: black;">Total Product</h2>
                <img src="/static/images/solarred.png" alt="Arrow" style="position: absolute; left: 160px; top: 1rem;">
                <h1 style="padding-bottom: 0.25rem; margin-top: 0.75rem; font-size: 1.25rem; font-weight: 700; color: black;">[[${totalMenuCount}]]</h1>
              </div>



              <div style="display: grid; background-color: white; padding: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 1rem; width: 195px; height: 100px; position: relative;">
                <h2 style="padding-bottom: 0.25rem; font-size: 0.875rem; font-weight: 600; color: black;">Total Branch</h2>
                <img src="/static/images/customer 1.png" alt="Arrow" style="position: absolute; left: 160px; top: 1rem;">
                <h1 style="padding-bottom: 0.25rem; margin-top: 0.75rem; font-size: 1.25rem; font-weight: 700; color: black;">[[${totalBranchCount}]]</h1>
              </div>


              <div style="display: grid; background-color: white; padding: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 1rem; width: 195px; height: 100px; position: relative;">
                <h2 style="padding-bottom: 0.25rem; font-size: 0.875rem; font-weight: 600; color: black;">New Users</h2>
                <img src="/static/images/solarred.png" alt="Arrow" style="position: absolute; left: 160px; top: 1rem;">
                <h1 style="padding-bottom: 0.25rem; margin-top: 0.75rem; font-size: 1.25rem; font-weight: 700; color: black;">[[${totalUserCount}]]</h1>
              </div>

              <div style="display: grid; background-color: white; padding: 1rem; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 1rem; width: 195px; height: 100px; position: relative;">
                <h2 style="padding-bottom: 0.25rem; font-size: 0.875rem; font-weight: 600; color: black;">Total Offer</h2>
                <img src="/static/images/menu1.png" alt="Arrow" style="position: absolute; left: 160px; top: 1rem;">
                <h1 style="padding-bottom: 0.25rem; margin-top: 0.75rem; font-size: 1.25rem; font-weight: 700; color: black;">[[${totalOffer}]]</h1>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
</body>
</html>
