<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link href="/css/tailwind.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
<div class="flex h-screen">
  <aside  style="width: 25%;" class="w-1/4 bg-black text-white">
    <th:block th:replace="fragments/staff-sidebar :: div"></th:block>
  </aside>

  <div style="width: 75%;" class="flex-1 flex flex-col ">
    <header class="w-full bg-white">
      <th:block th:replace="fragments/staff-header :: div"></th:block>
    </header>
    <div style="max-width: 1200px; margin: 0 auto;">
      <div style="margin: 10px 0; margin-top: 140px;">
        <div style="display: flex;">
          <div style="width: 50%;">
            <h1 style="font-size: 40px; font-family: 'Anton', sans-serif; color: #830823;">
              Reservation <span style="color: black;">List</span>
            </h1>
            <p style="color: #4A5568; font-family: 'Boogaloo', cursive;">
              Where our irresistible pizza offers are waiting to elevate your dining experience
            </p>
          </div>
          <div style="width: 50%;">
            <form>
              <div style="position: relative;">
                <input id="searchInput"
                       style="width: 300px; height: 40px; padding: 0 20px; padding-left: 40px; border: 1px solid black; border-radius: 25px; display: block;"
                       type="search" placeholder="Search" name="search_product">
                <button type="submit" id="searchButton"
                        style="position: absolute; top: 50%; left: 15px; transform: translateY(-50%); color: #718096; background: none; border: none; cursor: pointer;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div style="margin-top: 20px; font-family: 'Boogaloo', cursive;">
          <div style="overflow-x: auto;">
            <table style="width: 100%; border-collapse: collapse;">
              <thead style="background-color: black; color: white;">
              <tr>
                <th style="padding: 10px 5px; border-bottom: 2px solid white; border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
                  Reservation Id
                </th>
                <th style="padding: 10px 5px; border-bottom: 2px solid white;">
                  Branch Name
                </th>
                <th style="padding: 10px 20px; border-bottom: 2px solid white;">
                  User Name
                </th>
                <th style="padding: 10px 5px; border-bottom: 2px solid white;">
                  Reservation Date
                </th>
                <th style="padding: 10px 5px; border-bottom: 2px solid white;">
                  Reservation Time
                </th>
                <th style="padding: 10px 40px; border-bottom: 2px solid white;">
                  Phone Number
                </th>
                <th style="padding: 10px 40px; border-bottom: 2px solid white;">
                  Email
                </th>
                <th style="padding: 10px 40px; border-bottom: 2px solid white;">
                  Number of People
                </th>
                <th style="padding: 10px 30px; border-bottom: 2px solid white; border-top-right-radius: 25px; border-bottom-right-radius: 25px;">
                  Action
                </th>
              </tr>
              </thead>
              <tbody id="tableBody">
              <tr th:each="reservation : ${reservations}" style="text-align: center; color: black; border-bottom: 1px solid #E2E8F0;">
                <td style="padding: 10px 40px; color: #830823;">
                  <u th:text="${reservation.id}">Reservation Id</u>
                </td>
                <td style="padding: 10px;" th:text="${reservation.branch.branchName}">Branch Name</td>
                <td style="padding: 10px 40px;" th:text="${reservation.username}">User Name</td>
                <td style="padding: 10px;" th:text="${reservation.reservationDate}">Reservation Date</td>
                <td style="padding: 10px;" th:text="${reservation.reservationTime}">Reservation Time</td>
                <td style="padding: 10px;" th:text="${reservation.phone}">Phone Number</td>
                <td style="padding: 10px;" th:text="${reservation.email}">Email</td>
                <td style="padding: 10px;" th:text="${reservation.numberOfPeople}">Number of People</td>
                <td style="padding: 10px 30px;">
                  <div style="display: flex; gap: 20px;">
                    <a
                            href="#"
                            th:href="@{/reservation/send-email/{id}(id=${reservation.id})}"
                            style="padding: 5px 10px; color: white; background-color: green; border-radius: 5px;">
                      Send Email
                    </a>
                    <button type="button" style="padding: 5px 10px; color: white; background-color: red; border-radius: 5px;">Delete</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div style="display: flex; justify-content: space-between; margin-top: 40px;">
            <p style="color: #718096;" id="paginationText">Showing 1 to 5 from 30 entries</p>
            <div style="font-size: 30px;" id="pagination">
              <a href="#" style="background-color: white; color: black;" onclick="prevPage()">&larr;</a>
              <a href="#" onclick="changePage(1)">1</a>
              <a href="#" onclick="changePage(2)">2</a>
              <a href="#" onclick="changePage(3)">3</a>
              <a href="#" style="background-color: white; color: black;" onclick="nextPage()">&rarr;</a>
            </div>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
    </div>

    <script>
      let currentPage = 1;
      const rowsPerPage = 10;
      const totalRows = 50;

      function showRows(startIndex, endIndex) {
          const rows = document.querySelectorAll('.tableRow');
          rows.forEach((row, index) => {
              row.style.display = (index >= startIndex && index < endIndex) ? 'table-row' : 'none';
          });
      }

      function changePage(page) {
          currentPage = page;
          const startIndex = (currentPage - 1) * rowsPerPage;
          const endIndex = startIndex + rowsPerPage;
          showRows(startIndex, endIndex);

          const paginationText = document.getElementById('paginationText');
          paginationText.innerText = `Showing ${startIndex + 1} to ${endIndex} from ${totalRows} entries`;
      }

      function prevPage() {
          if (currentPage > 1) {
              changePage(currentPage - 1);
          }
      }

      function nextPage() {
          const totalPages = Math.ceil(totalRows / rowsPerPage);
          if (currentPage < totalPages) {
              changePage(currentPage + 1);
          }
      }

      changePage(currentPage);
    </script>
  </div>
</div>



<script>
  function loadPreview(index) {
      const inputFile = document.getElementById('image_' + index);
      const previewImage = document.getElementById('preview_image_' + index);
      const infoBox = document.getElementById('info_image_' + index);
      const file = inputFile.files[0];

      if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
              previewImage.src = e.target.result;
              previewImage.classList.remove('hidden');
              infoBox.classList.add('hidden');
          }
          reader.readAsDataURL(file);
      } else {
          previewImage.classList.add('hidden');
          infoBox.classList.remove('hidden');
      }
  }


  }
</script>
</body>
</html>