<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link href="/css/tailwind.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Customer Queries</title>
</head>
<body>
<div class="flex h-screen">
  <aside style="width: 25%;" class="w-1/4 bg-black text-white">
    <th:block th:replace="fragments/staff-sidebar :: div"></th:block>
  </aside>

  <div style="width: 75%;" class="flex-1 flex flex-col">
    <header class="w-full bg-white">
      <th:block th:replace="fragments/staff-header :: div"></th:block>
    </header>
    <div style="max-width: 1200px; margin: 0 auto;">
      <div style="margin: 10px 0; margin-top: 140px;">
        <div style="display: flex;">
          <div style="width: 50%;">
            <h1 style="font-size: 40px; font-family: 'Anton', sans-serif; color: #830823;">
              Customer <span style="color: black;">Queries</span>
            </h1>
            <p style="color: #4A5568; font-family: 'Boogaloo', cursive;">
              Here you can view and manage customer queries.
            </p>
          </div>
          <div style="width: 50%;">
            <form id="searchForm" action="/search/query" method="GET">
              <div style="position: relative;">
                <input id="searchInput"
                       style="width: 300px; height: 40px; padding: 0 20px; padding-left: 40px; border: 1px solid black; border-radius: 25px; display: block;"
                       type="search" placeholder="Search" name="search_query">
                <button type="submit" id="searchButton"
                        style="position: absolute; top: 50%; left: 15px; transform: translateY(-50%); color: #718096; background: none; border: none; cursor: pointer;">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <div style="margin-top: 20px; font-family: 'Boogaloo', cursive;">
          <div style="overflow-x: auto;">
            <table style="width: 100%; border-collapse: collapse;">
              <thead style="background-color: black; color: white;">
              <tr>
                <th style="padding: 10px 5px; border-bottom: 2px solid white; border-top-left-radius: 25px; border-bottom-left-radius: 25px;">
                  Query Id
                </th>
                <th style="padding: 10px 5px; border-bottom: 2px solid white;">
                  User Id
                </th>
                <th style="padding: 10px 20px; border-bottom: 2px solid white;">
                  User Name
                </th>

                <th style="padding: 10px 40px; border-bottom: 2px solid white;">
                  Email
                </th>
                <th style="padding: 10px 40px; border-bottom: 2px solid white;">
                  Body
                </th>
                <th style="padding: 10px 30px; border-bottom: 2px solid white; border-top-right-radius: 25px; border-bottom-right-radius: 25px;">
                  Action
                </th>
              </tr>
              </thead>

              <tbody>
              <!-- Thymeleaf loop to display each customer query -->
              <tr th:each="query : ${customerQueries}" style="text-align: center; color: black; border-bottom: 1px solid #E2E8F0;">
                <td style="padding: 10px 40px; color: #830823;">
                  <u th:text="${query.id}">Query Id</u>
                </td>
                <td style="padding: 10px 40px;" th:text="${query.user.id}">User Id</td>
                <td style="padding: 10px;" th:text="${query.user.name}">User Name</td>

                <td style="padding: 10px;" th:text="${query.email}">Email</td>
                <td style="padding: 10px;" th:text="${query.body}">Body</td>
                <td style="padding: 10px 30px;">
                  <div style="display: flex; justify-content: center; gap: 20px;">
                    <!-- Link to the edit page with the query ID -->
                    <a th:href="@{/queryresponse/{id}(id=${query.id})}" style="padding: 5px 10px; color: white; background-color: green; border-radius: 5px;">
                      Send Mail
                    </a>


                    <!-- Form for deleting the query -->
                    <form th:action="@{/query/delete/{id}(id=${query.id})}" method="post" style="display:inline;">
                      <button type="submit" style="padding: 5px 10px; color: white; background-color: red; border-radius: 5px;">Delete</button>
                    </form>
                  </div>
                </td>
              </tr>
              <!-- End Thymeleaf loop -->
              </tbody>

            </table>
          </div>

          <!-- Pagination -->
          <div style="display: flex; justify-content: space-between; margin-top: 40px;">
            <p style="color: #718096;" id="paginationText">Showing 1 to 5 from 30 entries</p>
            <div style="font-size: 30px;" id="pagination">
              <a href="#" style="background-color:..."></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
