<div style="width: 75%;" class="fixed z-10 bg-white mt-2">
  <div class="container 2xl:ml-[220px]">
    <div class="relative flex items-center w-full max-w-md md:h-20">

      <div class="">
        <div class="absolute inline-flex items-center p-2 top-6 left-5">
          <i class="text-gray-400 fas fa-search"></i>
        </div>
      </div>
      <div class="">
        <div style="position: absolute; width: 35%; margin-left: 800px; border: none;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </div>
        <div style="position: absolute; width: 35%; margin-left: 850px; margin-top: 8px; border: none;">
          <p class="border-none md:w-full">Umindu Chethiya</p>
        </div>
        <input class="w-full h-10 flex items-center ml-10 justify-center pl-10 pr-5 py-1 md:ml-4 text-base hidden md:block border border-black rounded-full focus:shadow-outline text-center" type="search" placeholder="Search">

      </div>
    </div>
  </div>
</div>